*{
  margin: 0;
  box-sizing: border-box;
}

.App{
  background-color: rgb(243, 237, 237);
  min-height: 100vh;
}

 header{
  position: sticky;
  top: 5px;
  left: 50%;
  display: flex;
  justify-content: center;
 }

header > p{
  font-size: 30px;
  color: #A2D9CE;
  font-family: 'Bruno Ace SC', cursive;
  text-shadow: 0 2px 4px  black;
}

label{
  font-size: 12px;
  font-family: 'Bruno Ace SC', cursive;
}

.held{
  width: 50%;
  margin-right: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  background-color: #A2D9CE;
  box-shadow: gray 0px 3px 4px;
}

.no-held{
  width: 50%;
  margin-right: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: #A2D9CE 0px 3px 4px;
  border: none;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.no-held:hover{
    background-color: #A2D9CE;
    box-shadow: gray 0px 3px 4px;
}