*{
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  width: 100%;
  background-color: #A2D9CE;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > p{
  font-size: 30px;
  color: black;
  font-family: 'Bruno Ace SC', cursive;
}